@import "boot";
/*RESET NORMALIZE*/

:root {
}

* {
  font-family: "Open Sans", sans-serif;
}

html,
body {
  background: #f3f3f3;
}

p {
  margin: 0;
}

.ajax_load_box_title {
  margin-top: 15px;
  font-weight: var(--weight-strong);
}

.mce_upload {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: var(--index-modal);
  background: rgba(0, 0, 0, 0.2);
}

.mce_upload_box {
  margin: auto;
  width: 400px;
  max-width: 90%;
  background: #ffffff;
  padding: 30px;
  text-align: center;
  -webkit-border-radius: var(--radius-normal);
  -moz-border-radius: var(--radius-normal);
  border-radius: var(--radius-normal);

  label.legend {
    margin-bottom: 15px;
  }

  .btn {
    width: 100%;
  }
}

/*DEFAULT PAGINATOR*/

.paginator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;

  a,
  span {
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #cccccc;
    border-right: 0;
    color: #555555;
    font-weight: var(--weight-bold);
    text-decoration: none;
    transition-duration: 0.2s;
  }

  a {
    &:first-of-type {
      -webkit-border-radius: var(--radius-normal) 0 0 var(--radius-normal);
      -moz-border-radius: var(--radius-normal) 0 0 var(--radius-normal);
      border-radius: var(--radius-normal) 0 0 var(--radius-normal);
    }

    &:last-of-type {
      border-right: 1px solid #cccccc;
      -webkit-border-radius: 0 var(--radius-normal) var(--radius-normal) 0;
      -moz-border-radius: 0 var(--radius-normal) var(--radius-normal) 0;
      border-radius: 0 var(--radius-normal) var(--radius-normal) 0;
    }

    &:hover {
      background: var(--hover-color-green);
      background-size: 200%;
      color: #fbfbfb;
    }
  }

  span {
    background: #cccccc;
  }
}

/*AJAXS RESPONSES MESSAGES*/

.ajax_response {
  position: fixed;
  padding: 20px 20px 0 0;
  z-index: calc(var(--index-modal) + 2);
  top: 0;
  right: 0;
  width: 300px;
  max-width: 100%;

  .message {
    color: #ffffff;
    font-size: var(--font-min);
    font-weight: var(--weight-normal);
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px 15px 20px 15px;
    background: #333333;
    margin-bottom: 15px;
    position: relative;
    -webkit-border-radius: var(--radius-normal);
    -moz-border-radius: var(--radius-normal);
    border-radius: var(--radius-normal);
    cursor: pointer;

    &:before {
      flex-basis: 0%;
      margin: -5px 15px 0 0 !important;
      font-size: calc(var(--font-max) * 1.2);
      color: rgba(0, 0, 0, 0.5);
    }
  }

  .message_time {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 4%;
    height: 5px;
    background: rgba(0, 0, 0, 0.5);
  }

  .message {
    &.success {
      background: var(--color-green);
    }

    &.info {
      background: var(--color-blue);
    }

    &.warning {
      background: var(--color-yellow);
    }

    &.error {
      background: var(--color-red);
    }
  }
}

/*FORM*/

.app_form {
  .label {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }

  .legend {
    display: block;
    margin-bottom: 10px;
    font-size: var(--font-small);
    font-weight: var(--weight-strong);
    color: #888888;
  }

  input,
  select,
  textarea {
    display: block;
    width: 100%;
    color: #000000;
    font-size: var(--font-normal);
    padding: 10px;
    background: #ffffff;
    border: 1px solid #cccccc;
    resize: none;
    -webkit-border-radius: 0 var(--radius-normal) var(--radius-normal) var(--radius-normal);
    -moz-border-radius: 0 var(--radius-normal) var(--radius-normal) var(--radius-normal);
    border-radius: 0 var(--radius-normal) var(--radius-normal) var(--radius-normal);
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("../images/selectarrow.png");
    background-position: right 15px center;
    background-repeat: no-repeat;
    background-size: auto 20%;
    margin-bottom: 5px;
  }

  input[type="date"] {
    -webkit-appearance: none;
    font-size: 1em !important;
    font-family: "Open Sans", serif !important;
    padding: 7px 10px !important;
    font-weight: var(--font-normal);
    color: #888888;
  }

  .btn {
    font-size: var(--font-normal);
    cursor: pointer;
    padding: 10px 20px;
    margin-top: 15px;
  }
}

.btnAddCat {
  margin-top: 1rem;

  button,
  a {
    position: relative;
    padding: 5px 15px 5px 30px;
    border-radius: 30px;
    background-color: #c7e9e3;
    color: #043529;
    border: none;
    font-size: 15px;
    font-weight: 600;

    &::before {
      content: "";
      display: inline-block;
      width: 25px;
      height: 25px;
      background-image: url(../images/positive-sign.webp);
      background-size: cover;
      margin-right: 5px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(20%, -50%);
    }
  }
}

.btnRemCat {
  margin-top: 1rem;

  button,
  a {
    position: relative;
    padding: 5px 15px 5px 30px;
    border-radius: 30px;
    background-color: #4d00001a;
    color: #4d0000;
    border: none;
    font-size: 15px;
    font-weight: 600;

    &::before {
      content: "";
      display: inline-block;
      width: 25px;
      height: 25px;
      background-image: url(../images/negative-sign.webp);
      background-size: cover;
      margin-right: 5px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(20%, -50%);
    }
  }
}

.btns-box {
  display: flex;
  
}

@media (min-width: 42em) {
  .app_form .label_g2 {
    display: flex;

    .label {
      flex-basis: calc(50% - 10px);

      &:first-child {
        margin-right: 20px;
      }
    }
  }
}

/*SEARCH FORM*/

.app_search_form {
  display: flex;

  input {
    font-size: var(--font-min);
    border: 1px solid #cccccc;
    border-right: 0;
    padding: 5px 10px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    outline: none;
  }

  button {
    font-size: var(--font-small);
    padding: 5px 10px;
    border: none;
    border-left: 0;
    background: var(--color-green);
    color: #ffffff;
    cursor: pointer;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    transition-duration: 0.2s;

    &:hover {
      background: var(--hover-color-green);
    }
  }
}

/*BUTTONS*/

.btn {
  display: inline-block;
  padding: 5px 10px;
  background: #555555;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-size: 0.9em;
  font-weight: var(--weight-strong);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  -webkit-border-radius: var(--radius-normal);
  -moz-border-radius: var(--radius-normal);
  border-radius: var(--radius-normal);
  transition-duration: var(--hover-duration);
}

.btn-green {
  background-color: var(--color-green);

  &:hover {
    background-color: var(--hover-color-green);
  }
}

.btn-blue {
  background-color: var(--color-blue);

  &:hover {
    background-color: var(--hover-color-blue);
  }
}

.btn-red {
  background-color: var(--color-red);

  &:hover {
    background-color: var(--hover-color-red);
  }
}

.btn-yellow {
  background-color: var(--color-yellow);

  &:hover {
    background-color: var(--hover-color-yellow);
  }
}

/*NOTIFICATION CENTER*/

.notification_center {
  position: fixed;
  display: none;
  right: -320px;
  top: 0;
  max-width: 320px;
  height: 100%;
  overflow-y: scroll;
  padding: 20px;
  background: #fbfbfb;
  z-index: var(--index-menu);
}

.notification_center_item {
  display: flex;
  align-items: flex-start;
  font-size: var(--font-small);
  font-weight: var(--weight-strong);
  margin-bottom: 15px;
  border: 1px solid var(--color-default);
  border-bottom: 4px solid var(--color-default);
  padding: 20px;
  background: #ffffff;
  cursor: pointer;
  opacity: 0.7;

  .time {
    font-size: var(--font-small);
    margin-top: 5px;
    color: #888888;
  }

  .image {
    flex-basis: 15%;
    -webkit-border-radius: var(--radius-round);
    -moz-border-radius: var(--radius-round);
    border-radius: var(--radius-round);
  }

  .info {
    flex-basis: 85%;
    padding-left: 15px;
  }

  &.read {
    opacity: 0.3;
  }

  &:hover {
    opacity: 1;
  }

  &:last-child {
    margin: 0;
  }
}

.notification_center_open {
  cursor: pointer;
}

/*DASHBOARD*/

.dash {
  display: flex;
  width: 100%;
  height: 100%;

  a {
    transition-duration: 0.2s;
    text-decoration: none;
  }
}

/*sidebar*/

.dash_sidebar {
  background: var(--color-arrezende);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.dash_sidebar_user {
  padding: 20px 0;
  background: var(--color-arrezende-light);
  text-align: center;
}

.dash_sidebar_user_thumb {
  -webkit-border-radius: var(--radius-round);
  -moz-border-radius: var(--radius-round);
  border-radius: var(--radius-round);
  padding: 1rem;
  border: 2px solid #e3e3e3;
  max-width: 70px;
  margin-bottom: 10px;
  background: #fff;
}

.dash_sidebar_user_name {
  font-size: var(--font-normal);

  a {
    font-weight: bold;
    text-decoration: none;
    color: #e3e3e3;

    &:hover {
      color: #ffffff;
    }
  }
}

/*nav*/

.dash_sidebar_nav_li {
  display: block;
  width: 100%;

  a {
    display: block;
    width: 100%;
    padding: 15px 30px;
    color: #e3e3e3;
    background: var(--color-arrezende);
    font-weight: 600;
    font-size: var(--font-small);

    &:before {
      font-size: var(--font-medium);
    }
  }

  &.active a,
  a:hover {
    background: var(--color-arrezende-dark);
    color: #ffffff;
  }
}

/*userbar*/

.dash_userbar {
  padding: 0 0 4px 0;
  overflow: hidden;
}

.dash_userbar_box {
  padding: 15px 0;
  color: #888888;
  background: #fbfbfb;
  box-shadow: 0 0 4px 0 gray;

  h1 {
    font-weight: var(--weight-light);

    a {
      color: inherit;
    }

    &:hover {
      padding-left: 10px;
    }
  }

  .dash_content_box {
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.dash_userbar_box_bar {
  font-size: var(--font-small);
  display: flex;
  align-items: center;
  position: absolute;
  right: 1rem;
  top: 1rem;

  span {
    margin-left: 20px;
    font-weight: var(--weight-strong);
  }

  a {
    margin-left: 20px;
    font-weight: var(--weight-strong);
    color: var(--color-red);

    &:hover {
      color: var(--hover-color-red);
    }
  }
}

.dash_userbar .notification_center_open:hover {
  color: #000000;
}

.dash_userbar_box .mobile_menu {
  display: none;
  padding: 5px 10px;
  background: var(--color-green);
  color: #ffffff;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  &:hover {
    background: var(--hover-color-green);
  }
}

/*content*/

.dash_content {
  flex-basis: 100%;
  color: var(--color-default);
}

.dash_content_box {
  max-width: 72em;
  margin: auto;
  padding: 30px;
  display: flex;

  .not_found {
    text-align: center;
    padding: 5% 0;
    max-width: 500px;
    margin: 0 auto;
  }

  .not_found_icon {
    font-size: 6em;
  }

  .not_found h4 {
    font-size: var(--font-max);
    margin: 10px 0 30px 0;
  }
}

.dash_content_sidebar {
  flex-basis: 20%;

  h3 {
    font-size: var(--font-medium);
    font-weight: var(--weight-light);
  }
}

.dash_content_sidebar_desc {
  font-size: var(--font-min);
  font-weight: var(--weight-strong);
  color: var(--color-fsphp);
  margin-top: 15px;
}

.dash_content_sidebar nav {
  display: block;
  margin-top: 30px;

  a {
    margin-bottom: 10px;
    display: block;
    font-size: var(--font-small);
    padding: 10px 0;
    font-weight: bold;
    color: #555555;
  }

  .active,
  a:hover {
    background: #ffffff;
    padding-left: 20px;
  }
}

/*content app*/

.dash_content_app {
  padding-left: 50px;
  flex-basis: 80%;
  &.nobasis {
    padding: 0;
    flex-basis: 100%;
  }
}

.dash_content_app_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dash_content_app_box {
  margin-top: 30px;
  .app_form_titles {
    &.excellmodel {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
    }
  }

  .app_form_group {
    &.excellmodel {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      .label {
        .select-multiple-expand {
          position: relative;
          display: inline-block;
          width: 100%;
          min-height: 45px;
          color: #000000;
          font-size: var(--font-normal);
          // padding: 10px 0;
          background: #ffffff;
          border: 1px solid #cccccc;
          resize: none;
          -webkit-border-radius: 0 var(--radius-normal) var(--radius-normal) var(--radius-normal);
          -moz-border-radius: 0 var(--radius-normal) var(--radius-normal) var(--radius-normal);
          border-radius: 0 var(--radius-normal) var(--radius-normal) var(--radius-normal);
          .input-expand {
            display: flex;
            flex-direction: column;
            min-height: 42px;
            padding: 10px;
            &:empty:not(:focus):before {
              content: attr(data-holder);
              position: absolute;
              top: 0;
              left: 10px;
              transform: translateY(25%);
              height: 100%;
              display: block;
              z-index: 5;
            }
          }
          .select-expand {
            display: none;
            position: absolute;
            height: max-content;
            top: 100%;
            left: 0;
            width: 100%;
            z-index: 10;
          }
          .selection {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 1;
            border: 1px solid green;
            border-radius: 4px;
            background-color: rgba(0, 128, 0, 0.1);
            p {
              padding-left: 5px;
            }
            span {
              display: inline-flex;
              justify-content: center;
              align-items: center;
              padding: 0px 10px;
            }
          }
          select {
            background-image: none;
          }
        }
        margin-bottom: 0 !important;
        input,
        textarea,
        select {
          height: 45px;
        }
      }
    }
  }

  .massiveSaveBtn {
    display: flex;
    justify-content: flex-end;
  }

  .addmore-btn-area {
    display: flex;
    input {
      display: block;
      width: 155px;
      height: 30px;
      color: #000000;
      font-size: var(--font-normal);
      padding: 4px;
      margin-right: 5px;
      background: #ffffff;
      border: 1px solid #cccccc;
      resize: none;
      -webkit-border-radius: 0 var(--radius-normal) var(--radius-normal) var(--radius-normal);
      -moz-border-radius: 0 var(--radius-normal) var(--radius-normal) var(--radius-normal);
      border-radius: 0 var(--radius-normal) var(--radius-normal) var(--radius-normal);
    }
  }
}

/*DASHBOARD*/
/*home stats*/

.app_dash_home_stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  article {
    padding: 20px;
    background: #ffffff;
    flex-basis: calc(33.33% - 20px);

    h4 {
      font-size: var(--font-medium);
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #cccccc;
    }

    p {
      font-size: var(--font-small);
      margin-top: 3px;

      b {
        font-weight: var(--weight-strong);
      }
    }
  }
}

/*home trafic*/

.app_dash_home_trafic {
  h3 {
    margin: 40px 0 30px 0;
  }

  article {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #cccccc;

    h4,
    p {
      font-size: var(--font-small);
      font-weight: var(--weight-strong);
      color: #888888;
    }

    a {
      color: #888888;
      text-decoration: underline;

      &:hover {
        color: #000000;
      }
    }
  }
}

/*CONTROL*/
/*home*/

.app_control_home_stats {
  display: flex;
  justify-content: space-between;

  article {
    flex-basis: calc(25% - 20px);
    padding: 20px;
    background: #ffffff;
    text-align: center;

    h4 {
      font-size: var(--font-min);
      font-weight: var(--weight-normal);
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    p {
      font-size: var(--font-large);
    }
  }
}

.app_control_subs {
  margin-top: 30px;
  padding: 30px;
  background: #ffffff;

  h3 {
    margin-bottom: 15px;
  }

  article {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: #fbfbfb;

    &:nth-child(2n + 0) {
      background: #eeeeee;
    }

    p,
    h5 {
      font-size: var(--font-small);
      font-weight: var(--weight-strong);
    }
  }
}

/*subscribers*/

.app_control_subscribers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  article {
    flex-basis: calc(33.33% - 20px);
    padding: 30px;
    background: #ffffff;
    margin-bottom: 30px;
    text-align: center;

    .cover {
      background: #eeeeee;
      border-radius: 50%;
      width: 120px;
      height: 120px;
      margin: 0 auto 20px auto;
    }

    h4 {
      font-size: var(--font-medium);
      font-weight: var(--weight-strong);
    }

    .email {
      font-size: var(--font-min);
      color: #cccccc;
    }

    .info {
      margin: 10px 0 20px 0;
      font-size: var(--font-small);
    }
  }
}

/*plans*/

.app_control_plans article {
  padding: 20px;
  background: #ffffff;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  div {
    padding: 10px;
  }

  h4 {
    font-size: var(--font-large);
    margin-bottom: 10px;
  }

  b {
    font-weight: var(--weight-strong);
  }
}

/*BLOG*/
/*home*/

.app_blog_home {
  display: grid;
  justify-content: flex-start;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;

  .paginator {
    margin-top: 10px;
  }

  article {
    margin-bottom: 40px;
    text-align: center;
    justify-content: space-between;
    vertical-align: initial;
    display: flex;
    flex-direction: column;

    .cover {
      background: #e3e3e3;
      margin-bottom: 15px;
    }

    .title {
      font-size: var(--font-normal);
      margin-bottom: 15px;
      font-weight: var(--weight-strong);

      a {
        color: #888888;

        &:hover {
          color: #000000;
        }
      }
    }

    .info {
      font-size: var(--font-min);
      text-align: center;
      margin-bottom: 15px;
      height: 100%;

      p {
        display: inline-block;
        padding: 5px;
        text-overflow: ellipsis;
        max-width: 250px;
        overflow: hidden;
      }
    }

    .actions {
      display: flex;
      justify-content: center;
      font-size: var(--font-small);

      a {
        margin: 0 5px;
      }
    }
  }
}

/*categories*/

.app_blog_categories article {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding: 20px;
  background: #eeeeee;

  .thumb {
    flex-basis: 30%;

    .cover {
      background: #e3e3e3;
    }
  }

  .info {
    flex-basis: 70%;
    padding-left: 30px;

    .title_box {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .title {
      font-size: var(--font-medium);
      font-weight: var(--weight-strong);
      text-overflow: ellipsis;
      max-width: max-content;
      overflow: hidden;

      b {
        font-size: var(--font-min);
      }
    }

    .desc {
      margin: 10px 0 15px 0;
      font-size: var(--font-small);
    }

    &.taginfo {
      display: flex;
      justify-content: space-between;
      flex-basis: 100%;

      .title_box {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr) 0.4fr;
        > * {
          margin-right: 5px;
        }

        .title {
          display: flex;
          input {
            display: block;
            width: 100%;
            color: #000000;
            font-size: var(--font-normal);
            padding: 10px;
            margin-left: 5px;
            background: #ffffff;
            border: 1px solid #cccccc;
            resize: none;
            -webkit-border-radius: 0 var(--radius-normal) var(--radius-normal) var(--radius-normal);
            -moz-border-radius: 0 var(--radius-normal) var(--radius-normal) var(--radius-normal);
            border-radius: 0 var(--radius-normal) var(--radius-normal) var(--radius-normal);
          }
        }
      }

      button {
        height: 100%;
        width: 100px;
      }

      .actions {
        display: flex;
        button {
          margin: 0px 0 0 15px;
        }
      }
    }
  }

  .actions a {
    font-size: var(--font-small);
    margin: 0 5px 0 0;
  }
}

/*FAQs*/

.app_faqs_home article {
  padding: 10px;
  background: #ffffff;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  header {
    text-align: center;
    padding: 30px;
    padding: 20px;
    flex-basis: 50%;

    h3 {
      font-size: var(--font-large);
    }

    p {
      margin: 5px 0 20px 0;
    }

    div {
      margin-bottom: 10px;
    }
  }

  > div {
    padding: 20px;
    flex-basis: 50%;
  }

  .question {
    font-size: var(--font-small);
    margin-bottom: 5px;
  }
}

/*USERS*/
/*home*/

.app_users_home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  article {
    flex-basis: calc(33.33% - 20px);
    padding: 30px;
    background: #ffffff;
    margin-bottom: 30px;
    text-align: center;

    .cover {
      background: #eeeeee;
      border-radius: 50%;
      width: 120px;
      height: 120px;
      margin: 0 auto 20px auto;
    }

    h4 {
      font-size: var(--font-medium);
      font-weight: var(--weight-strong);
    }

    .level {
      font-size: var(--font-small);
      color: #cccccc;
    }

    .info {
      font-size: var(--font-min);
      color: #999999;
      margin: 10px 0 20px 0;
    }
  }
}

/* GALERIA*/

.app_gallery_home {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .paginator {
    margin-top: 10px;
  }

  article {
    flex-basis: calc(33% - 20px);
    margin-bottom: 40px;
    text-align: center;
    max-width: 250px;

    .cover {
      background: #e3e3e3;
      margin-bottom: 15px;
    }

    .title {
      font-size: var(--font-normal);
      margin-bottom: 15px;
      font-weight: var(--weight-strong);
      text-overflow: ellipsis;
      max-width: 250px;
      overflow: hidden;

      a {
        color: #888888;

        &:hover {
          color: #000000;
        }
      }
    }

    .info {
      font-size: var(--font-min);
      text-align: center;
      margin-bottom: 15px;

      p {
        display: inline-block;
        padding: 5px;
      }
    }

    .actions {
      display: flex;
      justify-content: center;
      font-size: var(--font-small);

      a {
        margin: 0 5px;
      }
    }
  }

  .title {
    width: 100%;
    margin-bottom: 2rem;
  }
}

/*RWD*/
/*1280w*/

@media (min-width: 80em) {
  .on_mobile {
    display: none !important;
  }
}

@media (max-width: 80em) {
  .dash_sidebar {
    position: fixed;
    max-width: 260px;
    height: 100%;
    overflow-y: auto;
    top: 0;
    right: -260px;
    z-index: var(--index-menu);
  }

  .dash_content_sidebar {
    order: 1;
  }

  .dash_content_app {
    padding: 0 50px 0 0;
  }

  .no_mobile {
    display: none !important;
  }

  .dash_userbar_box .mobile_menu {
    display: block;
  }
}

/*992w*/

@media (max-width: 62em) {
  .dash_content_box {
    flex-wrap: wrap-reverse;
  }

  .dash_content_sidebar {
    flex-basis: 100%;
    margin-bottom: 30px;
  }

  .dash_content_app {
    flex-basis: 100%;
    padding: 0;
  }
}

/*832w*/

@media (max-width: 45em) {
  .app_control_home_stats {
    flex-wrap: wrap;

    article {
      flex-basis: calc(50% - 10px);
      margin-bottom: 20px;
    }
  }

  .app_users_home article,
  .app_blog_home article,
  .app_control_subscribers .subscriber {
    flex-basis: calc(50% - 15px);
  }
}

/*720w*/

@media (max-width: 45em) {
  .dash_content_app_header {
    font-size: var(--font-min);
  }

  .app_dash_home_stats {
    display: block;

    article {
      margin-bottom: 20px;
    }
  }

  .app_control_subs article p:nth-child(3),
  .app_dash_home_trafic article p:nth-child(2) {
    display: none;
  }

  .app_control_subs article p,
  .app_dash_home_trafic article p {
    text-align: right;
  }

  .app_blog_categories article {
    align-items: flex-start;
  }

  .app_faqs_home article {
    text-align: center;

    > {
      header,
      div {
        flex-basis: 100%;
      }
    }
  }
}

/*480w*/

@media (max-width: 30em) {
  .ajax_response {
    width: 100%;
    padding: 20px 20px 0 20px;
  }

  .app_form button {
    display: block;
    width: 100%;
  }

  .app_control_home_stats article {
    font-size: var(--font-min);
  }

  .app_users_home article,
  .app_blog_home article,
  .app_control_subscribers .subscriber {
    flex-basis: 100%;
    margin: 0 0 20px 0 !important;
  }

  .app_control_plans article div {
    flex-basis: 100%;
    text-align: center;
  }

  .app_blog_categories article {
    flex-wrap: wrap;

    .thumb {
      text-align: center;
      flex-basis: 100%;
      padding: 0;
    }

    .info {
      text-align: center;
      flex-basis: 100%;
      padding: 0;
      margin-top: 15px;
    }
  }
}

.table {
  margin: 1em 0;
  min-width: 100%;

  tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }

  th {
    display: none;
  }

  td {
    display: block;

    &:first-child {
      padding-top: 0.5em;
    }

    &:last-child {
      padding-bottom: 0.5em;
    }

    &:before {
      content: attr(data-th) ": ";
      font-weight: bold;
      width: 6.5em;
      display: inline-block;
    }
  }

  th,
  td {
    text-align: left;
  }

  background: #34495e;
  color: #fff;
  border-radius: 0.4em;
  overflow: hidden;

  tr {
    border-color: #46637f;
  }

  th,
  td {
    margin: 0.5em 1em;
  }

  th,
  td:before {
    color: #dd5;
  }
}

@media (min-width: 480px) {
  .table td:before {
    display: none;
  }
}

@media (min-width: 480px) {
  .table {
    th,
    td {
      display: table-cell;
      padding: 0.25em 0.5em;
    }

    th:first-child,
    td:first-child {
      padding-left: 0;
    }

    th:last-child,
    td:last-child {
      padding-right: 0;
    }
  }
}

@media (min-width: 480px) {
  .table {
    th,
    td {
      padding: 1em !important;
    }
  }
}

article {
  &.radius.draft,
  &.trash {
    background: #f3b0b7 !important;
  }

  &.radius {
    margin-bottom: 1rem;
  }
}

.mt-0,
.my-0 {
  margin-top: 0 !important;
}

.mr-0,
.mx-0 {
  margin-right: 0 !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
  margin-left: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}

.mr-1,
.mx-1 {
  margin-right: 0.25rem !important;
}

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}

.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.mr-5,
.mx-5 {
  margin-right: 3rem !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.ml-5,
.mx-5 {
  margin-left: 3rem !important;
}

.p-0 {
  padding: 0 !important;
}

.pt-0,
.py-0 {
  padding-top: 0 !important;
}

.pr-0,
.px-0 {
  padding-right: 0 !important;
}

.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}

.pl-0,
.px-0 {
  padding-left: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}

.pr-1,
.px-1 {
  padding-right: 0.25rem !important;
}

.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important;
}

.pl-1,
.px-1 {
  padding-left: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}

.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}

.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.pt-3,
.py-3 {
  padding-top: 1rem !important;
}

.pr-3,
.px-3 {
  padding-right: 1rem !important;
}

.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}

.pl-3,
.px-3 {
  padding-left: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}

.pr-4,
.px-4 {
  padding-right: 1.5rem !important;
}

.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important;
}

.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.pt-5,
.py-5 {
  padding-top: 3rem !important;
}

.pr-5,
.px-5 {
  padding-right: 3rem !important;
}

.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}

.pl-5,
.px-5 {
  padding-left: 3rem !important;
}

.m-auto {
  margin: auto !important;
}

.mt-auto,
.my-auto {
  margin-top: auto !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.mb-auto,
.my-auto {
  margin-bottom: auto !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

@media (min-width: 576px) {
  .m-sm-0 {
    margin: 0 !important;
  }

  .mt-sm-0,
  .my-sm-0 {
    margin-top: 0 !important;
  }

  .mr-sm-0,
  .mx-sm-0 {
    margin-right: 0 !important;
  }

  .mb-sm-0,
  .my-sm-0 {
    margin-bottom: 0 !important;
  }

  .ml-sm-0,
  .mx-sm-0 {
    margin-left: 0 !important;
  }

  .m-sm-1 {
    margin: 0.25rem !important;
  }

  .mt-sm-1,
  .my-sm-1 {
    margin-top: 0.25rem !important;
  }

  .mr-sm-1,
  .mx-sm-1 {
    margin-right: 0.25rem !important;
  }

  .mb-sm-1,
  .my-sm-1 {
    margin-bottom: 0.25rem !important;
  }

  .ml-sm-1,
  .mx-sm-1 {
    margin-left: 0.25rem !important;
  }

  .m-sm-2 {
    margin: 0.5rem !important;
  }

  .mt-sm-2,
  .my-sm-2 {
    margin-top: 0.5rem !important;
  }

  .mr-sm-2,
  .mx-sm-2 {
    margin-right: 0.5rem !important;
  }

  .mb-sm-2,
  .my-sm-2 {
    margin-bottom: 0.5rem !important;
  }

  .ml-sm-2,
  .mx-sm-2 {
    margin-left: 0.5rem !important;
  }

  .m-sm-3 {
    margin: 1rem !important;
  }

  .mt-sm-3,
  .my-sm-3 {
    margin-top: 1rem !important;
  }

  .mr-sm-3,
  .mx-sm-3 {
    margin-right: 1rem !important;
  }

  .mb-sm-3,
  .my-sm-3 {
    margin-bottom: 1rem !important;
  }

  .ml-sm-3,
  .mx-sm-3 {
    margin-left: 1rem !important;
  }

  .m-sm-4 {
    margin: 1.5rem !important;
  }

  .mt-sm-4,
  .my-sm-4 {
    margin-top: 1.5rem !important;
  }

  .mr-sm-4,
  .mx-sm-4 {
    margin-right: 1.5rem !important;
  }

  .mb-sm-4,
  .my-sm-4 {
    margin-bottom: 1.5rem !important;
  }

  .ml-sm-4,
  .mx-sm-4 {
    margin-left: 1.5rem !important;
  }

  .m-sm-5 {
    margin: 3rem !important;
  }

  .mt-sm-5,
  .my-sm-5 {
    margin-top: 3rem !important;
  }

  .mr-sm-5,
  .mx-sm-5 {
    margin-right: 3rem !important;
  }

  .mb-sm-5,
  .my-sm-5 {
    margin-bottom: 3rem !important;
  }

  .ml-sm-5,
  .mx-sm-5 {
    margin-left: 3rem !important;
  }

  .p-sm-0 {
    padding: 0 !important;
  }

  .pt-sm-0,
  .py-sm-0 {
    padding-top: 0 !important;
  }

  .pr-sm-0,
  .px-sm-0 {
    padding-right: 0 !important;
  }

  .pb-sm-0,
  .py-sm-0 {
    padding-bottom: 0 !important;
  }

  .pl-sm-0,
  .px-sm-0 {
    padding-left: 0 !important;
  }

  .p-sm-1 {
    padding: 0.25rem !important;
  }

  .pt-sm-1,
  .py-sm-1 {
    padding-top: 0.25rem !important;
  }

  .pr-sm-1,
  .px-sm-1 {
    padding-right: 0.25rem !important;
  }

  .pb-sm-1,
  .py-sm-1 {
    padding-bottom: 0.25rem !important;
  }

  .pl-sm-1,
  .px-sm-1 {
    padding-left: 0.25rem !important;
  }

  .p-sm-2 {
    padding: 0.5rem !important;
  }

  .pt-sm-2,
  .py-sm-2 {
    padding-top: 0.5rem !important;
  }

  .pr-sm-2,
  .px-sm-2 {
    padding-right: 0.5rem !important;
  }

  .pb-sm-2,
  .py-sm-2 {
    padding-bottom: 0.5rem !important;
  }

  .pl-sm-2,
  .px-sm-2 {
    padding-left: 0.5rem !important;
  }

  .p-sm-3 {
    padding: 1rem !important;
  }

  .pt-sm-3,
  .py-sm-3 {
    padding-top: 1rem !important;
  }

  .pr-sm-3,
  .px-sm-3 {
    padding-right: 1rem !important;
  }

  .pb-sm-3,
  .py-sm-3 {
    padding-bottom: 1rem !important;
  }

  .pl-sm-3,
  .px-sm-3 {
    padding-left: 1rem !important;
  }

  .p-sm-4 {
    padding: 1.5rem !important;
  }

  .pt-sm-4,
  .py-sm-4 {
    padding-top: 1.5rem !important;
  }

  .pr-sm-4,
  .px-sm-4 {
    padding-right: 1.5rem !important;
  }

  .pb-sm-4,
  .py-sm-4 {
    padding-bottom: 1.5rem !important;
  }

  .pl-sm-4,
  .px-sm-4 {
    padding-left: 1.5rem !important;
  }

  .p-sm-5 {
    padding: 3rem !important;
  }

  .pt-sm-5,
  .py-sm-5 {
    padding-top: 3rem !important;
  }

  .pr-sm-5,
  .px-sm-5 {
    padding-right: 3rem !important;
  }

  .pb-sm-5,
  .py-sm-5 {
    padding-bottom: 3rem !important;
  }

  .pl-sm-5,
  .px-sm-5 {
    padding-left: 3rem !important;
  }

  .m-sm-auto {
    margin: auto !important;
  }

  .mt-sm-auto,
  .my-sm-auto {
    margin-top: auto !important;
  }

  .mr-sm-auto,
  .mx-sm-auto {
    margin-right: auto !important;
  }

  .mb-sm-auto,
  .my-sm-auto {
    margin-bottom: auto !important;
  }

  .ml-sm-auto,
  .mx-sm-auto {
    margin-left: auto !important;
  }
}

@media (min-width: 768px) {
  .m-md-0 {
    margin: 0 !important;
  }

  .mt-md-0,
  .my-md-0 {
    margin-top: 0 !important;
  }

  .mr-md-0,
  .mx-md-0 {
    margin-right: 0 !important;
  }

  .mb-md-0,
  .my-md-0 {
    margin-bottom: 0 !important;
  }

  .ml-md-0,
  .mx-md-0 {
    margin-left: 0 !important;
  }

  .m-md-1 {
    margin: 0.25rem !important;
  }

  .mt-md-1,
  .my-md-1 {
    margin-top: 0.25rem !important;
  }

  .mr-md-1,
  .mx-md-1 {
    margin-right: 0.25rem !important;
  }

  .mb-md-1,
  .my-md-1 {
    margin-bottom: 0.25rem !important;
  }

  .ml-md-1,
  .mx-md-1 {
    margin-left: 0.25rem !important;
  }

  .m-md-2 {
    margin: 0.5rem !important;
  }

  .mt-md-2,
  .my-md-2 {
    margin-top: 0.5rem !important;
  }

  .mr-md-2,
  .mx-md-2 {
    margin-right: 0.5rem !important;
  }

  .mb-md-2,
  .my-md-2 {
    margin-bottom: 0.5rem !important;
  }

  .ml-md-2,
  .mx-md-2 {
    margin-left: 0.5rem !important;
  }

  .m-md-3 {
    margin: 1rem !important;
  }

  .mt-md-3,
  .my-md-3 {
    margin-top: 1rem !important;
  }

  .mr-md-3,
  .mx-md-3 {
    margin-right: 1rem !important;
  }

  .mb-md-3,
  .my-md-3 {
    margin-bottom: 1rem !important;
  }

  .ml-md-3,
  .mx-md-3 {
    margin-left: 1rem !important;
  }

  .m-md-4 {
    margin: 1.5rem !important;
  }

  .mt-md-4,
  .my-md-4 {
    margin-top: 1.5rem !important;
  }

  .mr-md-4,
  .mx-md-4 {
    margin-right: 1.5rem !important;
  }

  .mb-md-4,
  .my-md-4 {
    margin-bottom: 1.5rem !important;
  }

  .ml-md-4,
  .mx-md-4 {
    margin-left: 1.5rem !important;
  }

  .m-md-5 {
    margin: 3rem !important;
  }

  .mt-md-5,
  .my-md-5 {
    margin-top: 3rem !important;
  }

  .mr-md-5,
  .mx-md-5 {
    margin-right: 3rem !important;
  }

  .mb-md-5,
  .my-md-5 {
    margin-bottom: 3rem !important;
  }

  .ml-md-5,
  .mx-md-5 {
    margin-left: 3rem !important;
  }

  .p-md-0 {
    padding: 0 !important;
  }

  .pt-md-0,
  .py-md-0 {
    padding-top: 0 !important;
  }

  .pr-md-0,
  .px-md-0 {
    padding-right: 0 !important;
  }

  .pb-md-0,
  .py-md-0 {
    padding-bottom: 0 !important;
  }

  .pl-md-0,
  .px-md-0 {
    padding-left: 0 !important;
  }

  .p-md-1 {
    padding: 0.25rem !important;
  }

  .pt-md-1,
  .py-md-1 {
    padding-top: 0.25rem !important;
  }

  .pr-md-1,
  .px-md-1 {
    padding-right: 0.25rem !important;
  }

  .pb-md-1,
  .py-md-1 {
    padding-bottom: 0.25rem !important;
  }

  .pl-md-1,
  .px-md-1 {
    padding-left: 0.25rem !important;
  }

  .p-md-2 {
    padding: 0.5rem !important;
  }

  .pt-md-2,
  .py-md-2 {
    padding-top: 0.5rem !important;
  }

  .pr-md-2,
  .px-md-2 {
    padding-right: 0.5rem !important;
  }

  .pb-md-2,
  .py-md-2 {
    padding-bottom: 0.5rem !important;
  }

  .pl-md-2,
  .px-md-2 {
    padding-left: 0.5rem !important;
  }

  .p-md-3 {
    padding: 1rem !important;
  }

  .pt-md-3,
  .py-md-3 {
    padding-top: 1rem !important;
  }

  .pr-md-3,
  .px-md-3 {
    padding-right: 1rem !important;
  }

  .pb-md-3,
  .py-md-3 {
    padding-bottom: 1rem !important;
  }

  .pl-md-3,
  .px-md-3 {
    padding-left: 1rem !important;
  }

  .p-md-4 {
    padding: 1.5rem !important;
  }

  .pt-md-4,
  .py-md-4 {
    padding-top: 1.5rem !important;
  }

  .pr-md-4,
  .px-md-4 {
    padding-right: 1.5rem !important;
  }

  .pb-md-4,
  .py-md-4 {
    padding-bottom: 1.5rem !important;
  }

  .pl-md-4,
  .px-md-4 {
    padding-left: 1.5rem !important;
  }

  .p-md-5 {
    padding: 3rem !important;
  }

  .pt-md-5,
  .py-md-5 {
    padding-top: 3rem !important;
  }

  .pr-md-5,
  .px-md-5 {
    padding-right: 3rem !important;
  }

  .pb-md-5,
  .py-md-5 {
    padding-bottom: 3rem !important;
  }

  .pl-md-5,
  .px-md-5 {
    padding-left: 3rem !important;
  }

  .m-md-auto {
    margin: auto !important;
  }

  .mt-md-auto,
  .my-md-auto {
    margin-top: auto !important;
  }

  .mr-md-auto,
  .mx-md-auto {
    margin-right: auto !important;
  }

  .mb-md-auto,
  .my-md-auto {
    margin-bottom: auto !important;
  }

  .ml-md-auto,
  .mx-md-auto {
    margin-left: auto !important;
  }
}

@media (min-width: 992px) {
  .m-lg-0 {
    margin: 0 !important;
  }

  .mt-lg-0,
  .my-lg-0 {
    margin-top: 0 !important;
  }

  .mr-lg-0,
  .mx-lg-0 {
    margin-right: 0 !important;
  }

  .mb-lg-0,
  .my-lg-0 {
    margin-bottom: 0 !important;
  }

  .ml-lg-0,
  .mx-lg-0 {
    margin-left: 0 !important;
  }

  .m-lg-1 {
    margin: 0.25rem !important;
  }

  .mt-lg-1,
  .my-lg-1 {
    margin-top: 0.25rem !important;
  }

  .mr-lg-1,
  .mx-lg-1 {
    margin-right: 0.25rem !important;
  }

  .mb-lg-1,
  .my-lg-1 {
    margin-bottom: 0.25rem !important;
  }

  .ml-lg-1,
  .mx-lg-1 {
    margin-left: 0.25rem !important;
  }

  .m-lg-2 {
    margin: 0.5rem !important;
  }

  .mt-lg-2,
  .my-lg-2 {
    margin-top: 0.5rem !important;
  }

  .mr-lg-2,
  .mx-lg-2 {
    margin-right: 0.5rem !important;
  }

  .mb-lg-2,
  .my-lg-2 {
    margin-bottom: 0.5rem !important;
  }

  .ml-lg-2,
  .mx-lg-2 {
    margin-left: 0.5rem !important;
  }

  .m-lg-3 {
    margin: 1rem !important;
  }

  .mt-lg-3,
  .my-lg-3 {
    margin-top: 1rem !important;
  }

  .mr-lg-3,
  .mx-lg-3 {
    margin-right: 1rem !important;
  }

  .mb-lg-3,
  .my-lg-3 {
    margin-bottom: 1rem !important;
  }

  .ml-lg-3,
  .mx-lg-3 {
    margin-left: 1rem !important;
  }

  .m-lg-4 {
    margin: 1.5rem !important;
  }

  .mt-lg-4,
  .my-lg-4 {
    margin-top: 1.5rem !important;
  }

  .mr-lg-4,
  .mx-lg-4 {
    margin-right: 1.5rem !important;
  }

  .mb-lg-4,
  .my-lg-4 {
    margin-bottom: 1.5rem !important;
  }

  .ml-lg-4,
  .mx-lg-4 {
    margin-left: 1.5rem !important;
  }

  .m-lg-5 {
    margin: 3rem !important;
  }

  .mt-lg-5,
  .my-lg-5 {
    margin-top: 3rem !important;
  }

  .mr-lg-5,
  .mx-lg-5 {
    margin-right: 3rem !important;
  }

  .mb-lg-5,
  .my-lg-5 {
    margin-bottom: 3rem !important;
  }

  .ml-lg-5,
  .mx-lg-5 {
    margin-left: 3rem !important;
  }

  .p-lg-0 {
    padding: 0 !important;
  }

  .pt-lg-0,
  .py-lg-0 {
    padding-top: 0 !important;
  }

  .pr-lg-0,
  .px-lg-0 {
    padding-right: 0 !important;
  }

  .pb-lg-0,
  .py-lg-0 {
    padding-bottom: 0 !important;
  }

  .pl-lg-0,
  .px-lg-0 {
    padding-left: 0 !important;
  }

  .p-lg-1 {
    padding: 0.25rem !important;
  }

  .pt-lg-1,
  .py-lg-1 {
    padding-top: 0.25rem !important;
  }

  .pr-lg-1,
  .px-lg-1 {
    padding-right: 0.25rem !important;
  }

  .pb-lg-1,
  .py-lg-1 {
    padding-bottom: 0.25rem !important;
  }

  .pl-lg-1,
  .px-lg-1 {
    padding-left: 0.25rem !important;
  }

  .p-lg-2 {
    padding: 0.5rem !important;
  }

  .pt-lg-2,
  .py-lg-2 {
    padding-top: 0.5rem !important;
  }

  .pr-lg-2,
  .px-lg-2 {
    padding-right: 0.5rem !important;
  }

  .pb-lg-2,
  .py-lg-2 {
    padding-bottom: 0.5rem !important;
  }

  .pl-lg-2,
  .px-lg-2 {
    padding-left: 0.5rem !important;
  }

  .p-lg-3 {
    padding: 1rem !important;
  }

  .pt-lg-3,
  .py-lg-3 {
    padding-top: 1rem !important;
  }

  .pr-lg-3,
  .px-lg-3 {
    padding-right: 1rem !important;
  }

  .pb-lg-3,
  .py-lg-3 {
    padding-bottom: 1rem !important;
  }

  .pl-lg-3,
  .px-lg-3 {
    padding-left: 1rem !important;
  }

  .p-lg-4 {
    padding: 1.5rem !important;
  }

  .pt-lg-4,
  .py-lg-4 {
    padding-top: 1.5rem !important;
  }

  .pr-lg-4,
  .px-lg-4 {
    padding-right: 1.5rem !important;
  }

  .pb-lg-4,
  .py-lg-4 {
    padding-bottom: 1.5rem !important;
  }

  .pl-lg-4,
  .px-lg-4 {
    padding-left: 1.5rem !important;
  }

  .p-lg-5 {
    padding: 3rem !important;
  }

  .pt-lg-5,
  .py-lg-5 {
    padding-top: 3rem !important;
  }

  .pr-lg-5,
  .px-lg-5 {
    padding-right: 3rem !important;
  }

  .pb-lg-5,
  .py-lg-5 {
    padding-bottom: 3rem !important;
  }

  .pl-lg-5,
  .px-lg-5 {
    padding-left: 3rem !important;
  }

  .m-lg-auto {
    margin: auto !important;
  }

  .mt-lg-auto,
  .my-lg-auto {
    margin-top: auto !important;
  }

  .mr-lg-auto,
  .mx-lg-auto {
    margin-right: auto !important;
  }

  .mb-lg-auto,
  .my-lg-auto {
    margin-bottom: auto !important;
  }

  .ml-lg-auto,
  .mx-lg-auto {
    margin-left: auto !important;
  }
}

@media (min-width: 1200px) {
  .m-xl-0 {
    margin: 0 !important;
  }

  .mt-xl-0,
  .my-xl-0 {
    margin-top: 0 !important;
  }

  .mr-xl-0,
  .mx-xl-0 {
    margin-right: 0 !important;
  }

  .mb-xl-0,
  .my-xl-0 {
    margin-bottom: 0 !important;
  }

  .ml-xl-0,
  .mx-xl-0 {
    margin-left: 0 !important;
  }

  .m-xl-1 {
    margin: 0.25rem !important;
  }

  .mt-xl-1,
  .my-xl-1 {
    margin-top: 0.25rem !important;
  }

  .mr-xl-1,
  .mx-xl-1 {
    margin-right: 0.25rem !important;
  }

  .mb-xl-1,
  .my-xl-1 {
    margin-bottom: 0.25rem !important;
  }

  .ml-xl-1,
  .mx-xl-1 {
    margin-left: 0.25rem !important;
  }

  .m-xl-2 {
    margin: 0.5rem !important;
  }

  .mt-xl-2,
  .my-xl-2 {
    margin-top: 0.5rem !important;
  }

  .mr-xl-2,
  .mx-xl-2 {
    margin-right: 0.5rem !important;
  }

  .mb-xl-2,
  .my-xl-2 {
    margin-bottom: 0.5rem !important;
  }

  .ml-xl-2,
  .mx-xl-2 {
    margin-left: 0.5rem !important;
  }

  .m-xl-3 {
    margin: 1rem !important;
  }

  .mt-xl-3,
  .my-xl-3 {
    margin-top: 1rem !important;
  }

  .mr-xl-3,
  .mx-xl-3 {
    margin-right: 1rem !important;
  }

  .mb-xl-3,
  .my-xl-3 {
    margin-bottom: 1rem !important;
  }

  .ml-xl-3,
  .mx-xl-3 {
    margin-left: 1rem !important;
  }

  .m-xl-4 {
    margin: 1.5rem !important;
  }

  .mt-xl-4,
  .my-xl-4 {
    margin-top: 1.5rem !important;
  }

  .mr-xl-4,
  .mx-xl-4 {
    margin-right: 1.5rem !important;
  }

  .mb-xl-4,
  .my-xl-4 {
    margin-bottom: 1.5rem !important;
  }

  .ml-xl-4,
  .mx-xl-4 {
    margin-left: 1.5rem !important;
  }

  .m-xl-5 {
    margin: 3rem !important;
  }

  .mt-xl-5,
  .my-xl-5 {
    margin-top: 3rem !important;
  }

  .mr-xl-5,
  .mx-xl-5 {
    margin-right: 3rem !important;
  }

  .mb-xl-5,
  .my-xl-5 {
    margin-bottom: 3rem !important;
  }

  .ml-xl-5,
  .mx-xl-5 {
    margin-left: 3rem !important;
  }

  .p-xl-0 {
    padding: 0 !important;
  }

  .pt-xl-0,
  .py-xl-0 {
    padding-top: 0 !important;
  }

  .pr-xl-0,
  .px-xl-0 {
    padding-right: 0 !important;
  }

  .pb-xl-0,
  .py-xl-0 {
    padding-bottom: 0 !important;
  }

  .pl-xl-0,
  .px-xl-0 {
    padding-left: 0 !important;
  }

  .p-xl-1 {
    padding: 0.25rem !important;
  }

  .pt-xl-1,
  .py-xl-1 {
    padding-top: 0.25rem !important;
  }

  .pr-xl-1,
  .px-xl-1 {
    padding-right: 0.25rem !important;
  }

  .pb-xl-1,
  .py-xl-1 {
    padding-bottom: 0.25rem !important;
  }

  .pl-xl-1,
  .px-xl-1 {
    padding-left: 0.25rem !important;
  }

  .p-xl-2 {
    padding: 0.5rem !important;
  }

  .pt-xl-2,
  .py-xl-2 {
    padding-top: 0.5rem !important;
  }

  .pr-xl-2,
  .px-xl-2 {
    padding-right: 0.5rem !important;
  }

  .pb-xl-2,
  .py-xl-2 {
    padding-bottom: 0.5rem !important;
  }

  .pl-xl-2,
  .px-xl-2 {
    padding-left: 0.5rem !important;
  }

  .p-xl-3 {
    padding: 1rem !important;
  }

  .pt-xl-3,
  .py-xl-3 {
    padding-top: 1rem !important;
  }

  .pr-xl-3,
  .px-xl-3 {
    padding-right: 1rem !important;
  }

  .pb-xl-3,
  .py-xl-3 {
    padding-bottom: 1rem !important;
  }

  .pl-xl-3,
  .px-xl-3 {
    padding-left: 1rem !important;
  }

  .p-xl-4 {
    padding: 1.5rem !important;
  }

  .pt-xl-4,
  .py-xl-4 {
    padding-top: 1.5rem !important;
  }

  .pr-xl-4,
  .px-xl-4 {
    padding-right: 1.5rem !important;
  }

  .pb-xl-4,
  .py-xl-4 {
    padding-bottom: 1.5rem !important;
  }

  .pl-xl-4,
  .px-xl-4 {
    padding-left: 1.5rem !important;
  }

  .p-xl-5 {
    padding: 3rem !important;
  }

  .pt-xl-5,
  .py-xl-5 {
    padding-top: 3rem !important;
  }

  .pr-xl-5,
  .px-xl-5 {
    padding-right: 3rem !important;
  }

  .pb-xl-5,
  .py-xl-5 {
    padding-bottom: 3rem !important;
  }

  .pl-xl-5,
  .px-xl-5 {
    padding-left: 3rem !important;
  }

  .m-xl-auto {
    margin: auto !important;
  }

  .mt-xl-auto,
  .my-xl-auto {
    margin-top: auto !important;
  }

  .mr-xl-auto,
  .mx-xl-auto {
    margin-right: auto !important;
  }

  .mb-xl-auto,
  .my-xl-auto {
    margin-bottom: auto !important;
  }

  .ml-xl-auto,
  .mx-xl-auto {
    margin-left: auto !important;
  }
}

.galleryItems {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 2rem;

  .galleryItem {
  }
}

.tableCover {
  .cover1-container {
    height: 50vh;
    max-width: 20vw;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.select_sidebar_cat {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem 0;
  font-size: 0.875rem;
  font-weight: bold;
  color: #555555;
}

.info_aligns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: left;
  margin-bottom: 0.5rem;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  &.v2 {
    grid-template-columns: 1fr;
  }
}

.before-rotate {
  &:before {
    display: inline-block;
    transform: rotate(90deg);
  }
}

.text-center {
  text-align: center;
}

.add-sec-container {
  margin: 2rem 0;
  padding: 2rem 0;
  border-top: 2px dashed #c850e7;
  border-radius: 25px;
  border-bottom: 2px dashed #c850e7;
  .tableCover {
    .cover2-container {
      height: 20vh;
      max-width: 20vw;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}

.fix-save {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 2rem;
  z-index: 10;
  .btn {
    padding: 10px 20px;
  }
}

// .fix-otherbtns {
//   position: fixed;
//   bottom: 0;
//   right: 0;
//   margin: 2rem;
//   z-index: 10;
//   .btn {
//     padding: 10px 20px;
//   }
// }